* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    min-height: 100vh;
    max-width: 100vw;
}

.contain {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px; */
    display: flex;
    flex-direction: row;
    /* gap: 60px; */
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.imagen{
    width: 50%;
    height: 100%;
    /* background-image: radial-gradient(circle, #f6f6f6, #e7e6e6, #dfdede, #c7c5c5, #777777); */
    background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 50%, rgba(177,177,177,0.989233193277311) 100%);
}
.imagen img{
    /* width: 80%;
    height: 40%; */
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* border-radius: 50%; */
    /* border: 1px solid rgba(0, 0, 0, 0.5); */
    box-shadow: 7px 5px 8px rgba(0, 0, 0, 0.2);
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Comfortaa', cursive;
    margin: 25px;
    width: 50%;
}

.info h1{
    margin: 1.25rem;
    text-align: center;
    color: #2d2d2d;
}

.info p{
    text-align: center;
    font-size: 1.25rem;
}

button:hover { 
    background: linear-gradient(45deg, rgb(48, 48, 48), rgb(99, 99, 99));
    box-shadow: 4px 8px 6px rgba(0, 0, 0, 0.3);
} 

@media(max-width: 991px) {
    .contain {
        display: flex;
        flex-direction: column;
        
    }

    .imagen{
        width: 100%;
        height: 50%;
    }

    .info p{
        padding: 5px;
    }
} 

@media(max-width: 420px){
    .contain {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .imagen{
        width: 100%;
        height: 40%;
    }

    .info{
        height: 60%;
        width: 100%;
        margin:auto;
    }

    .info p{
        text-align: center;
        font-size: 1rem;
    }
}